/* ==========================================================================
  Reset 
  ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
  General Layout 
  ========================================================================== */

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================================
  Gameboards 
  ========================================================================== */

.boards-container {
  display: flex;
  gap: 10em;
  flex-direction: row;
}

.gameboard {
  height: 30em;
  width: 30em;
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.grid-square {
  border: 1px solid;
  background-color: white;
}

/* Ships */

.ship {
  border-color: white;
  background-color: black;
}

.ship.vertical {
  border-right-style: solid;
  border-left-style: solid;
}

.ship.horizontal {
  border-top-style: solid;
  border-bottom-style: solid;
}

.ship.vertical.top,
.ship.vertical.middle {
  border-bottom-style: none;
}

.ship.vertical.bottom,
.ship.vertical.middle {
  border-top-style: none;
}

.ship.horizontal.left,
.ship.horizontal.middle {
  border-right-style: none;
}

.ship.horizontal.right,
.ship.horizontal.middle {
  border-left-style: none;
}

.ship.vertical.top {
  border-top-style: solid;
}
.ship.vertical.bottom {
  border-bottom-style: solid;
}

.ship.horizontal.left {
  border-left-style: solid;
}
.ship.horizontal.right {
  border-right-style: solid;
}
